.image{
   display:block;
   margin-left: auto;
   margin-right: auto;
   height: 1000px;
   width: 1000px;
}
.mainText{
    color:rgb(27, 86, 107);
    display: flex;
    justify-content:center;
    font-size:150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#button1 {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#button1.clicked {
    background-color: green;
}
